body {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#chasis {
  background-color: grey;
  border-style: solid;
  border-radius: 16px;
  border-width: 8px;
  padding: 4px;
  height: 90vh;
  width: 50vh;
}

#display {
  background-color: lightgrey;
  width: 100%;
  height: 15%;
  font-size: xx-large;
  text-align: right;
  padding: 2%;
  box-sizing: border-box;
}

#display
:first-child {
  font-size: large;
  color: dimgrey;
}

#keypad {
  width: 100%;
  height: 85%;
}

.calcButton {
  width: 24%;
  height: 16%;
  border-radius: 100%;
  border-style: solid;
  margin-top: 3%;
  font-size: x-large;
}

.numButton {
  background-color: rgb(150, 200, 225);
}

.modifier {
  background-color: rgb(100, 150, 200);
}

.clearButton {
  background-color: rgb(200, 150, 175);
}

.centerButton {
  background-color: rgb(150, 110, 175);
}

.equalButton {
  background-color: rgb(150, 225, 200);
}
